{# src\rendu\AdminBundle\Resources\views\Personne\list.html.twig #}
{% extends 'renduAdminBundle::layout.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}


<h1>Liste des realisateurs :</h1>

    {% for realisateur in realisateurs %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td><a href="{{ path('admin_realisateur_modif', {'id': realisateur.id}) }}">{{ realisateur.prenom }} {{ realisateur.nom }}</a>
                        <a href="{{ path('admin_realisateur_supprimer', {'id': realisateur.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <a href="{{ path('admin_realisateur_ajout') }}" class="btn btn-primary btn-lg active" role="button">Ajouter un Réalisateur</a>
{% endblock %}


