{# src\rendu\CinemaBundle\Resources\views\Film\list.html.twig #}
{% extends 'renduCinemaBundle::layout.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}

<h1>{{ titre|upper }} ({{ films|length }})</h1>

    {% for film in films %}
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right">{{ film.genre }}</h4>
                    <h4>{{ film.titre }}</h4>
                    <p>{{ film.synopsis }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">{{ film.dateSortie | date('d/m/Y') }}</p>
                    <p>Réalisé par : <a href="cinema-films-realisateur.html">{{ film.realisateur }}</a></p>
                </div>
            </div>
    {% endfor %}
{% endblock %}


