{# src\rendu\AdminBundle\Resources\views\Genre\list.html.twig #}
{% extends 'renduCinemaBundle::layout.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Admin Cinéma</p>
            <div class="list-group">
                <a href="{{ path('admin_film_liste') }}" class="list-group-item">Films</a>
                <a href="{{ path('admin_genre_liste') }}" class="list-group-item active">Genre</a>
                <a href="{{ path('admin_realisateur_liste') }}" class="list-group-item">Realisateurs</a>
            </div>

    </div>

</div>

<br />


<h1>Liste des genres :</h1>
<ul>
    {% for genre in genres %}
        <li>
            <a href="{{ path('admin_genre_modif', {'id': genre.id}) }}">{{ genre.nom }}</a>
            <a href="{{ path('admin_genre_supprimer', {'id': genre.id}) }}">(x)</a>

        </li>
    {% endfor %}
</ul>
<a href="{{ path('admin_genre_ajout') }}">Ajouter</a>

{% endblock %}